{% for link in site.links -%}
  {%- if link.URL -%}
    <a
      class="link-anchor"
      href="{{ link.URL | rtrim '/' }}{% if link.Username %}/{{ link.Username }}{% endif %}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="{{ link.Name }}"
    >
      <span
        class="links {% if link.Color %}bg-[var(--link-bg)] shadow-[0px_10px_25px_0px_var(--link-shadow)]{% else %}border-[0.1rem] border-white shadow-[0px_10px_25px_0px_#ffffff80]{% endif %}"
        style="{% if link.Color %}--link-bg: {{ link.Color }}; --link-shadow: {{ link.Color }}80;{% endif %}"
      >
        <span
          class="flex items-center justify-center"
          {% if link.Text_Color %}
            style="color: {{ link.Text_Color }};"
          {% endif %}
        >
          <i class="{{ link.Icon-Class }} align-middle" aria-hidden="true"></i
          ><span class="mx-1.5 align-middle font-normal">{{ link.Name }}</span>
        </span>
      </span>
    </a>
  {%- endif -%}
{%- endfor %}
