---
import Layout from "../layouts/Layout.astro";
---

<Layout lang="en" bodyClass="h-screen min-h-screen w-screen">
  <div class="mx-auto grid h-full w-full place-content-center p-2.5 text-center text-9xl font-black">
    <h1>404</h1>
    <p class="mt-2.5 text-2xl font-semibold uppercase opacity-50">
      The page you're trying to load was not found
    </p>
  </div>
</Layout>
